body {
    margin: 0;
    padding: 0;
    background-color: #fbf8fe;
    font-family: 'Kanit', sans-serif;
}

/****** HEADER ******/
.header {
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    width: 200px;
}
.header__search {
    background-color: #F5EDFC;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 0 40px;
    width: 250px;
    height: 35px;
    
}
.header__input-search {
    background: none;
    border: none;
    margin: 0 10px;
    width: 200px;
    height: 30px;
    outline: none;
}
.header__submit-search {
    background: none;
    border: none;
    margin: 0 5px;
    width: 40px;
    height: 30px;
    font-size: 16px;
    color: #00020c;
}
.header__btn-login {
    background-color: #4e4997;
    border: none;
    width: 150px;
    height: 40px;
    color: #F5EDFC;
    cursor: pointer;
    transition: all 0.5s;
}
.header__btn-login:hover {
    background: none;
    color: #4e4997;
    border: 1px solid #4e4997;
}


/****** BANNER ******/
.carrousel {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}
.carrousel__banners {
    width: 300%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    
    transition: 0.5s all;
    transform: translateX(0);
}
.banner {
    width: calc(100%/3);
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}
.banner__img {
    position: absolute;
    width: calc(100%/3);
    z-index: -1;
}
.banner__titulo {
    margin: 10px 5%;
    font-size: 40px;
    font-weight: 500;
    color: #F5EDFC;

}
.banner__descripcion {
    margin: 5px 5%;
    font-size: 20px;
    font-weight: 300;
    color: #F5EDFC;
}
.banner__btn {
    background-color: #4e4997;
    border: none;
    width: 200px;
    height: 50px;
    margin: 5px 5% 40px;
    font-size: 20px;
    color: #F5EDFC;
}
.btn-banner-conteiner {
    position: relative;
    margin: 0 auto;
    top: -50px;
    z-index: 1;
}
.btn-banner {
    background-color: #F5EDFC;
    padding: 0;
    margin: 0 20px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    border: none;
    opacity: 0.2;
}
.btn-active {
    width: 8px;
    height: 8px;
    opacity: 0.8;
}



/****** SECTCION PRODUCTOS ******/
.categoria {
    padding: 40px 100px;
    display: flex;
    flex-flow: column;
}
.categoria__titulo {
    margin: 0;
    font-size: 40px;
    font-weight: 500;
}
.categoria__verMas {
    text-decoration: none;
    align-self: flex-end;
}

.categoria__productos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.card-producto {
    width: 200px;
    height: 300px;
}
.card-producto__img {
    width: 100%;
}
.card-producto__titulo {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 100;
}
.card-producto__precio {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
.card-producto__link {
    margin: 0;
    text-decoration: none;
    
}



/****** FORMULARIO ******/
#contactanos .conteiner {
    background-color: #CAC8E4;
    display: flex;
    padding: 5% 5%;
    flex-flow: row nowrap;
}
#contactanos .logo-conteiner {
    width: 30%;
}
#contactanos .logo {
    width: 60%;
}
#contactanos .links-conteiner {
    width: 25%;
}
#contactanos .links {
    margin: 0 0 20px;
    display: block;
    text-decoration: none;
    color: #00020c;

}
#contactanos .form-conteiner {
    width: 45%;
}
#contactanos .titulo {
    margin: 0;
    font-size: 20px;
}
#contactanos .input-conteiner {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    flex-flow: column;
    background-color: #F5EDFC;
}
#contactanos .input-conteiner label {
    color: #00020c;
    opacity: 0.5;
    font-size: 14px;
}
#contactanos .input-conteiner input {
    border: none;
    background: none;
    width: 100%;
    height: 30px;
}
#contactanos .form-conteiner textarea {
    background-color: #F5EDFC;
    border: none;
    border-radius: 5px;
    width: 100%;
    resize: none;
}
#contactanos .btn-submit {
    background-color: #4e4997;
    color: #F5EDFC;
    margin: 10px 0;
    font-size: 16px;
    width: 200px;
    height: 60px;
    border: none;
}



.footer {
    text-align: center;
}
.footer p {
    margin: 0;;
}

/* CONTENEDORES */
.conenedor--row {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.contenedor--column {
    padding: 5%;
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* BOTONES */
.btn--borde-violeta{
    background: none;
    width: 150px;
    height: 40px;
    color: #4e4997;
    border-color: #4e4997;
    cursor: pointer;
}
.btn--violeta {
    color: #F5EDFC;
    background-color: #4e4997;
}
